p {
    background-color: greenyellow;
    text-align: center;
}

.name {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.email {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.labelName,
.labelEmail {
    flex: 1;
}

.inputName,
.inputEmail {
    flex: 2;
}

.message {
    display: flex;
    flex-direction: column;
}

.cta-messge {
    margin-top: 4px;
}